<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} [%thread] %-3level %logger{5} - %msg %n</pattern>
        </encoder>
    </appender>

    <appenders>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{ISO8601}}{cyan} %highlight{%-5level}[%style{%t}{bright,blue}]%style{%C{1.}}{bright,yellow}:%style{%msg%n%throwable}{bright,magenta}"/>
        </Console>

        <RollingFile name="MbtiMatcherFile" fileName="./logs/MbtiMatcher.log" filePattern="./logs/MbtiMatcher.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%-5level][%d{yyyy-MM-dd HH:mm:ss}]%msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

    </appenders>

    <loggers>

        <logger name="org.springframework" level="ERROR" additivity="false">
            <appenderRef ref="console"/>
        </logger>


        <Logger name="jdbc.audit" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </Logger>
        <Logger name="jdbc.resultset" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </Logger>
        <Logger name="jdbc.resultsettable" level="DEBUG" additivity="false">
            <appender-ref ref="console"/>
        </Logger>
        <Logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
            <appender-ref ref="console"/>
        </Logger>
        <Logger name="jdbc.connection" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </Logger>
        <Logger name="log4jdbc.debug" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </Logger>
        <logger name="jdbc.sqlonly" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </logger>



        <root level="info">
            <appenderRef ref="console"/>
            <appender-ref ref="MbtiMatcherFile"/>
        </root>
    </loggers>
</configuration>